<template>
  <div class="container">
    <h2>Hello {{user.name}}</h2>
    <div v-if="!meters" class="loading">Loading...</div>
    <template v-else>
      <p>You are currently tracking <router-link to="/meters">{{meters.length}} meter(s)</router-link>.</p>
      <p>Number of meters active within last day: {{activeCount}}</p>
    </template>
  </div>
</template>

<script>
import axios from '../axios';

export default {
  data() {
    return {
      meters: null
    }
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    activeCount() {
      if (this.meters == null) return 0;
      let count = 0;
      const date = new Date();
      const yesterday = new Date(date.setDate(date.getDate() - 1));
      for (const meter of this.meters) {
        const activeAt = new Date(meter.last_active_at);
        if (activeAt > yesterday) {
          count++;
        }
      }
      return count
    }
  },
  created() {
    axios.get(`/users/${this.user.id}/meters`)
      .then(res => this.meters = res.data)
      .catch(err => console.log(err));
  }
}
</script>

<style>

</style>