<template>
  <nav class="navbar navbar-expand-sm navbar-dark mb-2" style="background-color: #04284a;">
    <router-link class="navbar-brand" to="/">MeterApp</router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <router-link class="nav-item nav-link" v-if="isAuthed" to="/dashboard" active-class="active">Dashboard</router-link>
        <router-link class="nav-item nav-link" v-if="isAuthed" to="/meters" active-class="active">Meters</router-link>
      </div>
      <div class="navbar-nav ml-auto">
        <router-link class="nav-item nav-link" v-if="!isAuthed" to="/login" active-class="active">Log In</router-link>
        <router-link class="nav-item nav-link" v-if="!isAuthed" to="/register" active-class="active">Register</router-link>
        <a class="nav-item nav-link" v-if="isAuthed" style="cursor: pointer;" @click="onLogout">Log Out</a>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  computed: {
    isAuthed() {
      return this.$store.getters.isAuthed;
    }
  },
  methods: {
    onLogout() {
      this.$store.dispatch('logout');
    }
  }
}
</script>