<template>
  <div class="container">
    <h2>Welcome to MeterApp</h2>
    <p v-if="!isAuthed">Please <router-link to="/login">Log In</router-link> or <router-link to="/register">Register</router-link> to continue.</p>
  </div>
</template>

<script>
export default {
  computed: {
    isAuthed() {
      return this.$store.getters.isAuthed;
    }
  },
  methods: {
    onLogout() {
      this.$store.dispatch('logout');
    }
  }
}
</script>

<style>

</style>