<template>
  <div class="container">
    <h2>Register</h2>
    <form @submit.prevent="onRegister">
        <div class="form-group row">
          <label for="userName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-5 col-md-4">
            <input
              type="text"
              class="form-control"
              :class="{'is-invalid': errors.name}"
              name="userName"
              id="userName"
              v-model="name"
              required>
            <div v-if="errors.name" class="invalid-feedback">
              {{errors.name}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="userPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-5 col-md-4">
            <input
              type="password"
              name="userPassword"
              id="userPassword"
              class="form-control"
              :class="{'is-invalid': errors.password}"
              v-model="password"
              required>
            <div v-if="errors.password" class="invalid-feedback">
              {{errors.password}}
            </div>
          </div>
        </div>
        <div v-if="errors.other" class="alert alert-danger">
          {{errors.other}}
        </div>
        <div class="form-group row">
          <div class="col-md-10">
            <button type="submit" class="btn btn-primary">Register</button>
            <router-link to="/" class="btn btn-outline-secondary ml-1">Cancel</router-link>
          </div>
        </div>
      </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      password: ''
    }
  },
  computed: {
    errors() {
      return this.$store.state.registerErrors;
    }
  },
  methods: {
    onRegister() {
      const payload = {
        name: this.name,
        password: this.password
      };
      this.$store.dispatch('register', payload);
    }
  },
  created() {
    this.$store.commit('clearRegisterErrors');
  }
}
</script>

<style>

</style>