<template>
  <form @submit.prevent="">
        <div class="form-group row">
          <label for="userName" class="col-lg-2 col-md-2 col-form-label">Name</label>
          <div class="col-lg-4 col-md-10">
            <input type="text" class="form-control" name="userName" id="userName">
          </div>
        </div>
        <div class="form-group row">
          <label for="userPassword" class="col-md-2 col-form-label">Password</label>
          <div class="col-lg-4 col-md-10">
            <input type="password" name="userPassword" id="userPassword" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-10">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
</template>

<script>
export default {

}
</script>

<style>

</style>