<template>
  <div class="container">
    <h2 class="mb-3">Meter Details</h2>
    <div v-if="!meter" class="loading">Loading...</div>
    <template v-if="meter">
      <dl>
        <div class="row">
          <dt class="col-sm-3">ID</dt>
          <dd class="col-sm-5 col-md-4 col-lg-3"> {{ meter.id }} </dd>
        </div>
        <div class="row">
          <dt class="col-sm-3">Name</dt>
          <dd class="col-sm-5 col-md-4 col-lg-3"> {{ meter.name }} </dd>
        </div>
        <div class="row">
          <dt class="col-sm-3">Last Reading</dt>
          <dd class="col-sm-5 col-md-4 col-lg-3"> {{ lastActiveAtString }} </dd>
        </div>
      </dl>
      <hr>
      <form>
        <div class="form-group row">
          <label for="startTime" class="col-form-label col-sm-3">Start Time</label>
          <input
            type="datetime-local"
            id="startTime"
            name="startTime"
            class="form-control col-sm-5 col-md-4 col-lg-3 mx-3"
            v-model="formData.start">
        </div>
        <div class="form-group row">
          <label for="endTime" class="col-form-label col-sm-3">End Time</label>
          <input
            type="datetime-local"
            id="endTime"
            name="endTime"
            class="form-control col-sm-5 col-md-4 col-lg-3 mx-3"
            v-model="formData.end">
        </div>
        <div class="form-group row">
          <label for="groupBy" class="col-form-label col-sm-3">Group By</label>
          <select
            name="groupBy"
            id="groupBy"
            class="form-control col-sm-5 col-md-4 col-lg-3 mx-3"
            v-model="formData.groupBy">
            <option value="minute">Minutes</option>
            <option value="hour">Hours</option>
            <option value="day">Days</option>
            <option value="month">Months</option>
          </select>
        </div>
        <button class="btn btn-outline-primary" @click.prevent="onSubmit">Show</button>
        <button
          v-if="readings"
          class="btn btn-outline-secondary ml-1"
          @click.prevent="onClear"
          >Clear Graph</button>
      </form>
    </template>
    <template v-if="readings">
      <hr>
      <h6 class="my-2">Total for selected range: {{ this.sum }} Wh</h6>
      <MeterReadings :series="series" :start="formData.start" :end="formData.end"/>
    </template>
    <button
      v-if="readings"
      class="btn btn-outline-info my-2"
      @click.prevent="showTable ^= true">Toggle Table View</button>
    <MeterReadingsTable v-if="showTable" :readings="readings" />
  </div>
</template>

<script>
import querystring from 'querystring';
import axios from '../../axios';
import MeterReadings from './MeterReadings';
import MeterReadingsTable from './MeterReadingsTable';

export default {
  components: {
    MeterReadings,
    MeterReadingsTable
  },
  data() {
    return {
      meter: null,
      readings: null,
      formData: {
        start: null,
        end: null,
        groupBy: 'minute'
      },
      series: null,
      showTable: false
    }
  },
  computed: {
    lastActiveAtString() {
      let str = new Date(this.meter.last_active_at).toString();
      const i = str.indexOf(' GMT');
      return str.substring(0, i);
    },
    sum() {
      let sum = 0;
      for (const reading of this.readings) {
        sum += reading.value;
      }
      return sum;
    }
  },
  methods: {
    onClear() {
      this.readings = null;
      this.showTable = false;
    },
    onSubmit() {
      this.saveFormDataTimes();
      const query = querystring.stringify({start: this.formData.start, end: this.formData.end});
      axios.get(`/meters/${this.meter.id}/readings/${this.formData.groupBy}?${query}`)
        .then(res => {
          this.readings = res.data;

          const seriesData = [];
          for (const reading of this.readings) {
            reading.value = parseInt(reading.value);
            seriesData.push([reading.timestamp, parseInt(reading.value)]);
          }

          this.series = [{name: this.meter.name, data: seriesData}];
        })
        .catch(err => console.log(err));
    },
    loadFormDataTimes() {
      let data = localStorage.getItem('meterDetailsFormData');
      if (data) {
        this.formData = JSON.parse(data);
      }
      else {
        let now = new Date();
        now = now.getTime() - (now.getTimezoneOffset() * 60000);
        let start = now - 60 * 60 * 1000;

        now = new Date(now).toISOString();
        start = new Date(start).toISOString();

        now = now.substring(0, now.lastIndexOf(':'));
        start = start.substring(0, start.lastIndexOf(':'));
        this.formData.end = now;
        this.formData.start = start;
      }
    },
    saveFormDataTimes() {
      localStorage.setItem('meterDetailsFormData', JSON.stringify(this.formData));
    }
  },
  created() {
    this.loadFormDataTimes();
    axios.get('/meters/' + this.$route.params.id)
      .then(res => this.meter = res.data)
      .catch(err => console.log(err));
  }
}
</script>

<style>

</style>