<template>
  <div class="container">
    <h2>Add Meter</h2>
    <form @submit.prevent="onAdd">
      <div class="form-group row">
        <label for="meterName" class="col-sm-3 col-form-label">Meter Name</label>
        <div class="col-sm-6 col-md-5">
          <input
            type="text"
            class="form-control"
            :class="{'is-invalid': errors.name}"
            name="meterName"
            id="meterName"
            v-model="name"
            required>
          <div v-if="errors.name" class="invalid-feedback">
            {{errors.name}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="meterKey" class="col-sm-3 col-form-label">Key</label>
        <div class="col-sm-6 col-md-5">
          <input
            type="text"
            name="meterKey"
            id="meterKey"
            class="form-control"
            :class="{'is-invalid': errors.key}"
            v-model="key"
            required>
          <div v-if="errors.key" class="invalid-feedback">
            {{errors.key}}
          </div>
        </div>
      </div>
      <div v-if="errors.other" class="alert alert-danger">
          {{errors.other}}
      </div>
      <div class="form-group row">
        <div class="col-md-10">
          <button type="submit" class="btn btn-primary">Add</button>
          <router-link to="/meters" class="btn btn-outline-secondary ml-1">Cancel</router-link>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import axios from '../../axios';

export default {
  data() {
    return {
      name: '',
      key: '',
      errors: { }
    }
  },
  computed: {
    user() {
      return this.$store.getters.user;
    }
  },
  methods: {
    onAdd() {
      axios.post(`/users/${this.user.id}/meters`, {
        name: this.name,
        key: this.key
      })
        .then(() => {
          this.$router.push('/meters');
        })
        .catch(err => {
          if (err.response) {
            switch(err.response.status) {
              case 400:
                if (err.response.data && err.response.data.error)
                  this.errors = err.response.data.error;
                else
                  this.errors = { other: err.toString() };
                break;
              default:
                this.errors = { other: err.toString() };
                break;
            }
          }
          else {
            this.errors = { other: err.toString() };
          }
        });
    }
  }
}
</script>

<style>

</style>