<template>
  <div>
    <hr>
    <div id="chart">
      <div id="chart-timeline">
        <apexchart type="area" height="350" ref="chart" :options="chartOptions" :series="series"></apexchart>
      </div>
    </div>
    <div class="alert alert-light">
      <small>Click on the Home icon on the graph to re-center it after changing the start/end times.</small>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    series: {
      type: Array,
      required: true
    },
    start: {
      type: String,
      required: true
    },
    end: {
      type: String,
      required: true
    }
  },
    data() {
    return {
      chartOptions: {
        chart: {
          id: 'area-datetime',
          type: 'area',
          height: 450,
          zoom: {
            autoScaleYaxis: true
          }
        },
        dataLabels: {
          enabled: false
        },
        markers: {
          size: 0,
          style: 'hollow',
        },
        xaxis: {
          type: 'datetime',
          min: new Date(this.start).getTime(),
          max: new Date(this.end).getTime(),
          tickAmount: 6,
          labels: {
            datetimeUTC: false
          }
        },
        tooltip: {
          x: {
            format: 'dd MMM yyyy HH:mm',
            formatter: undefined,
          },
          y: {
            formatter: (val) => val + ' Wh',
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.7,
            opacityTo: 0.9,
            stops: [0, 100]
          }
        },
      },      
    }
  }
}
</script>

<style>

</style>