<template>
  <div class="container">
    <h2>
      Meters
      <router-link to="meters/add" tag="a" class="btn btn-sm btn-outline-success m-2">Add New</router-link>
    </h2>
    <div v-if="!meters" class="loading">Loading...</div>
    <table v-else class="table table-hover">
      <thead>
        <th>Meter</th>
        <th>Last Reading</th>
        <th></th>
      </thead>
      <tbody>
        <tr v-for="meter in meters"
          :key="meter.id">
          <td>{{ meter.name }}</td>
          <td>{{ dateToReadable(meter.last_active_at) || 'Never' }}</td>
          <td>
            <router-link
              :to="{ name: 'meterDetails', params: { id: meter.id } }"
              class="btn btn-sm btn-outline-primary mr-1 my-1"
              >Details</router-link>
            <button class="btn btn-sm btn-outline-danger my-1"
              @click.stop="onRemove(meter.id)"
              >Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from '../../axios';

export default {
  data() {
    return {
      meters: null
    }
  },
  methods: {
    onRemove(meterId) {
      axios.delete(`/users/${this.user.id}/meters/${meterId}`)
        .then(() => {
          this.meters = this.meters.filter(x => x.id !== meterId);
        })
        .catch(err => console.log(err));
    },
    dateToReadable(input) {
      if (!input) return null;
      let str = new Date(input).toString();
      const i = str.indexOf(' GMT');
      return str.substring(0, i);
    }
  },
  computed: {
    user() {
      return this.$store.getters.user;
    }
  },
  created() {
    axios.get(`/users/${this.user.id}/meters`)
      .then(res => this.meters = res.data)
      .catch(err => console.log(err));
  }
}
</script>

<style>

</style>