<template>
  <table class="table mt-3">
      <thead>
        <th>Timestamp</th>
        <th>Wh</th>
      </thead>
      <tbody>
        <tr v-for="reading in readings" :key="reading.timestamp">
          <td>{{ dateToReadable(new Date(reading.timestamp)) }}</td>
          <td>{{ reading.value }}</td>
        </tr>
      </tbody>
    </table>
</template>

<script>
export default {
  props: {
    readings: {
      type: Object,
      required: true
    }
  },
  methods: {
    dateToReadable(date) {
      let str = date.toString();
      const i = str.indexOf(' GMT');
      return str.substring(0, i);
    }
  }
}
</script>

<style>

</style>